<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Agenda</title>

</head>
<body>
    <div class="container">
        <div class="esquinas">&#171</div>
        <div class="dia">Lunes 11</div>
        <div class="dia">Martes 12</div>
        <div class="dia">Miercoles 13</div>
        <div class="dia">Jueves 14</div>
        <div class="dia">Viernes 15</div>
        <div class="dia">Sabado 16</div>
        <div class="dia">Domingo 17</div>
        <div class="esquinas">&#187</div>
        <div class="esquinas">08:00</div>
        <div class="disponible">&#8853</div>
        <div></div>
        <div></div>
        <div class="no-disponible"> Juan</div>
        <div></div>
        <div></div>
        <div></div>
        <div class="esquinas">08:00</div>
        <div class="esquinas">08:30</div>
        <div></div>
        <div></div>
        <div></div>
        <div class="no-disponible"> Maria</div>
        <div></div>
        <div></div>
        <div class="disponible">&#8853</div>
        <div class="esquinas">08:30</div>
        <div class="esquinas">09:00</div>
        <div></div>
        <div class="no-disponible"> Juan</div>
        <div></div>
        <div class="no-disponible"> Jorge</div>
        <div></div>
        <div></div>
        <div class="disponible">&#8853</div>
        <div class="esquinas">09:00</div>
        <div class="esquinas">09:30</div>
        <div></div>
        <div></div>
        <div></div>
        <div class="disponible">&#8853</div>
        <div class="no-disponible"> Carlos</div>
        <div></div>
        <div></div>
        <div class="esquinas">09:30</div>
        <div class="esquinas">10:00</div>
        <div></div>
        <div></div>
        <div></div>
        <div class="disponible">&#8853</div>
        <div></div>
        <div></div>
        <div></div>
        <div class="esquinas">10:00</div>
        <div class="esquinas">10:30</div>
        <div class="disponible">&#8853</div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="esquinas">10:30</div>
        <div class="esquinas">11:00</div>
        <div class="disponible">&#8853</div>
        <div></div>
        <div></div>
        <div></div>
        <div class="no-disponible"> Vanesa</div>
        <div></div>
        <div></div>
        <div class="esquinas">11:00</div>
        <div class="esquinas">11:30</div>
        <div></div>
        <div class="disponible">&#8853</div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="esquinas">11:30</div>
        <div class="esquinas">12:00</div>
        <div></div>
        <div class="disponible">&#8853</div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="esquinas">12:00</div>
        <div class="esquinas">12:30</div>
        <div></div>
        <div></div>
        <div class="disponible">&#8853</div>
        <div></div>
        <div class="no-disponible"> Victoria</div>
        <div></div>
        <div></div>
        <div class="esquinas">12:30</div>
        <div class="esquinas">13:00</div>
        <div></div>
        <div></div>
        <div class="disponible">&#8853</div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="esquinas">13:00</div>
        <div class="esquinas">13:30</div>
        <div></div>
        <div></div>
        <div></div>
        <div class="disponible">&#8853</div>
        <div></div>
        <div class="no-disponible"> Jorge</div>
        <div></div>
        <div class="esquinas">13:30</div>
        <div class="esquinas">14:00</div>
        <div></div>
        <div></div>
        <div></div>
        <div class="disponible">&#8853</div>
        <div></div>
        <div></div>
        <div></div>
        <div class="esquinas">14:00</div>
    </div>
    <a href="/agenda2"> otra forma de la agenda</a>
</body>
</html>