<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Agenda con json</title>
</head>
<body>
    <h1>Tabla con Json </h1>
    <div id="calendar">
        <div id="left-time-wrp">
            <div class="timeblock">8:00</div>
            <div class="timeblock">8:30</div>
            <div class="timeblock">9:00</div>
            <div class="timeblock">9:30</div>
            <div class="timeblock">10:00</div>
            <div class="timeblock">10:30</div>
            <div class="timeblock">11:00</div>
            <div class="timeblock">11:30</div>
            <div class="timeblock">12:00</div>
            <div class="timeblock">12:30</div>
            <div class="timeblock">13:00</div>
            <div class="timeblock">13:30</div>
            <div class="timeblock">14:00</div>
            <div class="timeblock">14:30</div>
            <div class="timeblock">15:00</div>
            <div class="timeblock">15:30</div>
            <div class="timeblock">16:00</div>
            <div class="timeblock">16:30</div>
            <div class="timeblock">17:00</div>
            <div class="timeblock">17:30</div>
            <div class="timeblock">18:00</div>
            <div class="timeblock">16:30</div>
            <div class="timeblock">17:00</div>
            <div class="timeblock">17:30</div>
            <div class="timeblock">18:00</div>
            <div class="timeblock">18:30</div>
            <div class="timeblock">19:00</div>
            <div class="timeblock">19:30</div>
            <div class="timeblock">20:00</div>
        </div>
        <div id="calenderHeaders"></div>
        <div id="esquina">&#171</div>
        <div id="blocks"></div>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>