<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Agenda</title>
</head>
<body>
    <form id="form1" runat="server">
        <div class="Table">
    
            <div class="Title">
                <p>Esta es la tabla</p>
            </div>
    
            <div class="Heading">
                <div class="Cell">
                    <p>Primer Nombre</p>
                </div>
    
                <div class="Cell">
                    <p>Segundo Nombre</p>
                </div>
    
                <div class="Cell">
                    <p>Edad</p>
                </div>
    
            </div>
    
            <div class="Row">
                <div class="Cell">
                    <p>Juan</p>
                </div>
    
                <div class="Cell">
                    <p>Escutia</p>
                </div>
    
                <div class="Cell">
                    <p>28</p>
                </div>
    
            </div>
    
            <div class="Row">
                <div class="Cell">
                    <p>Pedro</p>
                </div>
    
                <div class="Cell">
                    <p>Infante</p>
                </div>
    
                <div class="Cell">
                    <p>27</p>
                </div>
    
            </div>
    
        </div>
        </form>
</body>
</html>